DATABASE_URL=mysql://root:SENHA@mainline.proxy.rlwy.net:56439/videostudio_imob
RUNWAY_API_KEY=
PIAPI_API_KEY=
GEMINI_API_KEY=
ANTHROPIC_API_KEY=
REDIS_HOST=localhost
REDIS_PORT=6379
PORT=3001
JWT_SECRET=
CRM_WEBHOOK_URL=https://romateccrmwhatsapp-production.up.railway.app/api/video-webhook
